/* ------------------------------------------------------ RESOLUÇÃO 768px ------------------------------------------------------ */

@media (max-width:768px) {

    body {
        max-width: 768px;
        margin: 0 auto;
    }
    
    .cabecalho {
        padding: 40px 145px 23px 145px;
        display: block;
    }
    
    .cabecalho nav {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .cabecalho ul li {
        display: block;
        padding: 0;
        margin-top: 29px;
        font-size: 20px;
    }

    .cabecalho .logo {
        display: block;
        margin-bottom: 23px;
    }

    .painel {
        margin-top: 241px;
        height: 266px;
        background-size: cover;
    }
    
    .painel h2 {
        color: #fff;
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .imagem-com-texto {
        display: block;
        margin: 0;
        padding: 0;
        clear: both;
    }

    .imagem-com-texto img {
        margin-top: 130px;
        margin-bottom: 37px;
        width: 174px;
        height: 174px;
    }

    .imagem-com-texto h2 {
        font-size: 30px;
        margin-bottom: 46px;
    }

    .imagem-com-texto p {
        width: 324px;
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 176px;
        }

        .ladrilhos div {
            float: none;
        }
        
        .ladrilhos .grande {
            background: url(../images/4.jpg) center center no-repeat;
            width: 100%;
            height: 312px;
            background-size: cover;
        }
        
        .ladrilhos .pequena.grao {
            background: url(../images/2.jpg) center center no-repeat;
            width: 100%;
            height: 308px;
            background-size: cover;
        }
        
        .ladrilhos .pequena {
            background: url(../images/3.jpg) center center no-repeat;
            width: 100%;
            height: 312px;
            background-size: cover;
        }
        
        .ladrilhos .media {
            background: url(../images/1.jpg) center center no-repeat;
            width: 100%;
            height: 157px;
            background-size: cover;
        }

        .imagem-com-texto.onde-estamos h2 {
            font-size: 30px;
        }

        .imagem-com-texto.onde-estamos p {
            font-size: 20px;
            margin-bottom: 130px;
        }

        .contato {
            height: 527px;
            position: relative;
            display: block;
            background-position: 60% 0;
        }
        
        .contato h2 {
            font-size: 60px;
            font-weight: 600;
            color: #fff;
            padding: 81px 488px 390px 280px;
        }
        
        .contato p {
            font-size: 26px;
            color: #fff;
            font-weight: 600;
            position: absolute;
            top: 208px;
            left: 201px;
            text-align: center;
            line-height: 40px;
            margin-bottom: 170px;
        }

        .rodape {
            background-image: none;
            background-color: #000;
            height: 643px;
            position: relative;
        }

        .rodape nav {
            width: 100%;
            text-align: center;
            display: block;
            margin: 0;
            margin-bottom: 95px;
        }

        .rodape .logo img {
            display: block;
            padding: 45px 340px 122px 345px;
            margin: 0 auto;
        }

        .rodape .redes-sociais {
            position: absolute;
            top: 534px;
            left: 354px;
        }

        .rodape p {
            position: absolute;
            top: 582px;
            left: 324px;
        }

        .rodape nav ul li {
            position: static;
            display: block;
            text-align: center;
            margin-bottom: 50px;
            font-size: 25px;
            padding: 0;
        }
        
}

/* ------------------------------------------------------ RESOLUÇÃO 375px ------------------------------------------------------ */

@media (max-width:375px) {

    body {
        max-width: 375px;
        margin: 0 auto;
    }
    
    .cabecalho {
        padding: 40px 145px 23px 145px;
        display: block;
    }
    
    .cabecalho nav {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .cabecalho ul li {
        display: block;
        padding: 0;
        margin-top: 29px;
        font-size: 20px;
    }

    .cabecalho .logo {
        display: block;
        margin-bottom: 23px;
    }

    .painel {
        margin-top: 241px;
        height: 266px;
        background-size: cover;
    }
    
    .painel h2 {
        color: #fff;
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .imagem-com-texto {
        display: block;
        margin: 0;
        padding: 0;
        clear: both;
    }

    .imagem-com-texto img {
        margin-top: 130px;
        margin-bottom: 37px;
        width: 174px;
        height: 174px;
    }

    .imagem-com-texto h2 {
        font-size: 30px;
        margin-bottom: 46px;
    }

    .imagem-com-texto p {
        width: 324px;
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 176px;
        }

        .ladrilhos div {
            float: none;
        }
        
        .ladrilhos .grande {
            background: url(../images/4.jpg) center center no-repeat;
            width: 100%;
            height: 312px;
            background-size: cover;
        }
        
        .ladrilhos .pequena.grao {
            background: url(../images/2.jpg) center center no-repeat;
            width: 100%;
            height: 308px;
            background-size: cover;
        }
        
        .ladrilhos .pequena {
            background: url(../images/3.jpg) center center no-repeat;
            width: 100%;
            height: 312px;
            background-size: cover;
        }
        
        .ladrilhos .media {
            background: url(../images/1.jpg) center center no-repeat;
            width: 100%;
            height: 157px;
            background-size: cover;
        }

        .imagem-com-texto.onde-estamos h2 {
            font-size: 30px;
        }

        .imagem-com-texto.onde-estamos p {
            font-size: 20px;
            margin-bottom: 130px;
        }

        .contato {
            height: 527px;
            position: relative;
            display: block;
            background-position: 60% 0;
        }
        
        .contato h2 {
            font-size: 45px;
            font-weight: 600;
            color: #fff;
            padding: 101px 107px 370px 108px;
        }
        
        .contato p {
            font-size: 20px;
            color: #fff;
            font-weight: 600;
            position: absolute;
            top: 208px;
            left: 51px;
            text-align: center;
            line-height: 30px;
            margin-bottom: 170px;
        }

        .rodape {
            background-image: none;
            background-color: #000;
            height: 643px;
            position: relative;
        }

        .rodape nav {
            width: 100%;
            text-align: center;
            display: block;
            margin: 0;
            margin-bottom: 95px;
        }

        .rodape .logo img {
            display: block;
            padding: 0;
            padding: 45px 145px 122px 145px;
        }

        .rodape .redes-sociais {
            position: absolute;
            top: 504px;
            left: 158px;
        }

        .rodape p {
            position: absolute;
            top: 552px;
            left: 130px;
        }

        .rodape nav ul li {
            position: static;
            display: block;
            text-align: center;
            margin-bottom: 27px;
            font-size: 20px;
            padding: 0;
        }
        
}