@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600&display=swap');

body {
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho {
    position: relative;
    padding: 27px 25px;
}

.cabecalho .logo {
    background: url(../images/logo.jpg) center center no-repeat;
    width: 85px;
    height: 85px;
    display: inline-block;
}

.cabecalho h1 {
    font-size: 0;
    display: inline-block;
}

.cabecalho nav {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 30px;
}

.cabecalho ul li {
    display: inline-block;
    margin: 0 23px;
}

.cabecalho ul li a {
    font-weight: 400;
}

.cabecalho ul li a:hover {
    font-weight: bold;
}

.painel {
    background: url(../images/painel.jpg) center center no-repeat;
    height: 628px;
}

.painel h2 {
    font-size: 60px;
    font-weight: 400;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-com-texto {
    padding: 153px;
    text-align: center;
    clear: both;
}

.img-com-texto img {
    width: 170px;
    height: 170px;
    margin-bottom: 70px;
}

.img-com-texto h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 37px;
}

.img-com-texto p {
    font-size: 18px;
    width: 702px;
    margin: 0 auto;
}

.ladrilho div {
    float: left;
}

.ladrilho .grande {
    background: url(../images/4.jpg) center center no-repeat;
    height: 600px;
    width: 50%;
}

.ladrilho .pequeno.grao {
    background: url(../images/2.jpg) center center no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .pequeno {
    background: url(../images/3.jpg) center center no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .medio {
    background: url(../images/1.jpg) center center no-repeat;
    height: 300px;
    width: 50%;
}

.img-com-texto.onde-estamos p {
    font-size: 28px;
    width: 480px;
}

.contato {
    background: url(../images/fundo-contato.jpg) center center no-repeat;
    height: 600px;
    position: relative;
}

.contato .texto-contato {
    position: absolute;
    top: 30%;
    left: 50%;
}

.contato .texto-contato h2 {
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.contato .texto-contato address {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.rodape {
    background: url(../images/fundo-rodape.jpg) center center no-repeat;
    padding: 35px 30px 0 30px;
    background-size: cover;
    position: relative;
}

.rodape nav {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 30px;
}

.rodape .logo {
    width: 85px;
    height: 85px;
}

.rodape .redes-sociais .facebook,
.rodape .redes-sociais .instagram {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.rodape .redes-sociais {
    float: right;
}

.rodape ul li {
    display: inline-block;
    margin: 0 23px;
}

.rodape ul li a {
    color: white;
}

.rodape ul li a:hover {
    font-weight: bold;
}

.rodape p {
    color: white;
}

.rodape .baixo-rodape {
    padding: 30px 0px;
}